.loginWrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 70px;
}

.loginWrapMainLogo{
    width: 170px;
    height: 210px;
    margin-top: 50px;
}

.loginBox{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    width: 300px;
    padding: 15px 80px 30px 80px;
}

.mobileLoginBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #75ACFF;
    border-radius: 10px;
    width: 90vw;
    margin-top: 100px;
    padding: 15px 20px 30px 20px;
    box-sizing: border-box;
}

.loginBox > h3, .mobileLoginBox > h3{
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}

.inputBoxWrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inputBoxWrap > input{
    width: 200px;
}

.inputBoxWrap > p{
    color: #909090;
}

.memberBoxWrap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

#loginBt{
    margin-top: 15px;
    background-color: #57558C;
}

.memberBoxWrap p{
    text-decoration: underline;
    font-weight: bolder;
    cursor: pointer;
}

#loginBt{
    height: 40px;
    width: 100%;
    font-size: 20px;
}

#loginInput{
    height: 30px;
    width: calc(100% - 80px)
}
