.Traffic_tap_box {
    background-color: white;
    box-sizing: border-box;
    width: calc(100% - 10%);
    height: 45vh;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    padding: 15px 30px;
    display: grid;
    grid-template-rows: 10% 20% 60% 10%;
    cursor: pointer;
}

.Traffic_tap_time{
    color: #5B5B5B;
    text-align: center;
}

.Traffic_tap_title{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.Traffic_tap_title > h1{
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.Traffic_tap_content > p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
}

.Traffic_tap_heart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Traffic_tap_heart img{
    width: 5px;
    height: 20px;
}

#board_heart > p{
    margin-right: 7px;
}

@media(min-width: 1024px){
    .Traffic_tab_box {
        width: calc(50% - 10px);
    }
}

@media(max-width: 1023px){
    .Traffic_tab_box {
        width: calc(33.3% - 10px);
    }
}

#onMoveTrafficListBt{
    width: 200px;
}
#onMoveWriteReportBt{
    width: 100px;
}