#m_wrapper {
    width: 350px;
    height: 100%;
    display: inline-block;
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: 0vh;
}

#location_list{
    width: 160px;
    height: 30px;
    font-size: 4.5vw;
    border:1px solid #0B097A;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    z-index: 7;
    float: left;
    background-color: white;
    top: -2vh;
    text-align: center;

}

#location_list.on{
    /*border-width: 1px 1px 0px;*/
    /*border-radius: 10px 10px 0px 0px;*/
    background-color: transparent;
    border: 0px;
}

#location_list > img{
    top: 1.8vh;
    right: 1.9vw;
    position: absolute;
    z-index: 6;
}
#placeholder{
    top: 0.7vh;
    left: 3.5vw;
    color: black;
    z-index: 7;
    position: absolute;
    font-size: 15px;
}

#selectWrapper{
    width: 200px;
    height: 250px;
    display: block;
    float: left;
    z-index: 8;
    position: absolute;
    left: 6vw;
    top: 2vh;
}

#selectWrapper.on{
    background-color: white;
    border:1px solid #0B097A;
    border-radius: 10px;
}
#list{
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 10px;
    position: relative;;
    width: 25vw;
}
#dropDown {
    width: 199.3px;
    height: 200px;
    z-index: 5;
    top: -4.5vh;
    left: -2vw;
    padding-top: 10px;
    display: inline-block;
    overflow: scroll;
    -ms-overflow-style: none;
    font-size: small;
    position: relative;
    text-align: center;

}


#location_list.on{
    /*border-width: 1px 1px 0px;*/
    /*border-radius: 10px 10px 0px 0px;*/
    background-color: transparent;
    border: 0px;
}

#dropDown::-webkit-scrollbar{
    display: none;
}



#m_floating{
    width: 45vw;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 2vh;
    right: -3vw;
    float: left;
    z-index: 6;
}
#m_floating>img{
    margin-right: 10px;
    box-shadow: 0px 2px 0px 0px #8a8585;
    border-radius: 20px;
}

#M_map{
    width: 102vw;
    height: 90vh;
    position: relative;
    z-index: 0;
    left: -5.6vw;
}

.search-wrapper2{
    height: 90vh;
    width:99vw;
    background-color: #ffffff;
    stroke: #0B097A;
    border: 1px solid #0B097A;
    bottom: 8vh;
    left: -4.8vw;
    border-radius: 10px;
    transition: bottom .3s ease-in-out; /* 0.3초 동안 이동 애니메이션 */
    touch-action: pan-x;
    display: inline-block;
    position: relative;
    z-index: 5;
}

#m_Search_box_title p{
    text-align: center;
    padding: 10px;
    margin: 30px auto 0 auto;
    margin-top: 5vh;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    transform: translate(0, -7vh);
}

.search-wrapper2.on {
    bottom: 80vh;
    z-index: 10;
}
#ways-list2.on{
    height: 70vh;
    z-index: 11;
}
#m_Search_box_title{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 2vh;
}
#ways-list-wrapper2{
    display: inline-block;
    position: absolute;
    transform: translate(-170px, 0);
    z-index: 5;
}
#ways-list2{
    transform: translate(0%, -3vw);
    background-color: #ffffff;
    opacity: 0.9;
    width: 340px;
    height: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: -20px;

}
#ways-list2::-webkit-scrollbar{
    display: none;
}

.mobile-menu > img{
    float: right;
    transform: translate(-35px, 20px);
}

.m_container {
    width: 330px;
    height: 300px;
    background-color: white;
    z-index: 9;
    position: absolute;
    border-style: solid;
    border-color: #0B097A;
    border-width: 1px;
    display: inline-block;
    left: 5vw;
    top: 10vh;
    overflow: hidden;
    -ms-overflow-style: none;
    font-size: small;
}
.m_close {
    display: inline-block;
    position: absolute;
    background-color: #31333e;
    z-index: 12;
    right: 1.2px;
    top: 5px;
}

.wrap {position: absolute;left: 0;bottom: 40px;width: 250px;height: 100px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px; }
.wrap * {padding: 0;margin: 0; z-index: 20;}
.wrap .info {width: 250px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff; z-index: 20;}
.wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
.info .title {padding: 6px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 16px; font-weight: bold;}
.info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
.info .close:focus {cursor: pointer;}
.info .body {position: relative;overflow: hidden; width: 100%; z-index: 20;}
.info .desc {position: relative;margin: 13px 0 0 0;height: 75px;}
.desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap; font-size: 14px}