#wrapper{
    background-color: white;
    width: 89vw;
    height: 65vh;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
}
.Main_wrap{
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    text-align: center;
    overflow: scroll;
}


#map{
    width: 75vw;
    height: 95%;
    left: 2vw;
    bottom: 3vh;
    z-index: 1;
    border-radius: 20px;

}

#m_traffic{
    display: inline-block;
    position: relative;
    top: 150px;
    left: 7vw;
}