#wrapper{
    background-color: white;
    width: 90%;
    height: 70vh;
    display: inline-block;
    text-align: center;
    margin-top: 0.1%;
}

#m_wrapper{
    background-color: white;
    width: 90%;
    height: 65vh;
    display: inline-block;
    text-align: center;
}

.Main_wrap{
    align-content: center;
    align-items: center;
    text-align: center;
    display: inline-block;
    height: 100%;
    position: absolute;
    width: 100%;
}



#m_traffic{
    display: inline-block;
    position: relative;
    top: 55px;
    left: 7vw;
}