.Main_wrap{
    width: 100vw;
    height: calc(100vh - 110px);
    margin: auto;
    padding: 0%;
    overflow-x: hidden;
}
#greenLine{
    color: #879B6D;
    width: 90%;

}

#map{
    transform: translate(25%, 0vh);
    margin-bottom: -10vh;
    width: 70%;
    height: 76%;
    z-index: 0;
}