.Category_Button_List{
    list-style: none;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
}

@media(max-width: 768px){
    .Category_Button_List{
        font-size: 10px;
        padding: 5px 7px;
    }
}