.navigation-bar {
    margin: 20px auto;
    padding: 10px 0;
    width: 90%;
    border-radius: 15px;
    border: 2px solid #0B097A;
    background-color: white;
}

.navigation-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.navigation-menu li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 19px;
    font-weight: 500;
    margin-right: 12vw;
    border-right: 2px solid #CDCDE7;
}

.navigation-menu li:last-child {
    margin-right: 0;
    border-right: 0;
}

.navigation-link {
    color: #0B097A;
    text-decoration: none;
    padding: 5px;
}

.navigation-menu li:hover {
    color: #0B097A;
    font-weight: bolder;
}


.navigation-link.active {
    font-weight: bolder;
    color: #0B097A;
}