
#list-wrapper{
    display: inline-block;
}

#result-list{
    background-color: floralwhite;
    opacity: 0.8;
    width: 300px;
    height: 300px;
    overflow: auto;
    text-align: center;
    display: none;
}

div,span{
    margin-bottom: -5px;
}


