#traffic{
    display: inline-block;
    position: relative;
    width: 70vw;
    height: 30px;
    border: 1px solid #879B6D;
    border-radius: 10px;
    text-align: left;
    left: -6vw;
    top: 4vh;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.50);
    color: white;
    overflow: hidden;
}
#up{
    display: inline-block;
    position: absolute;
    left: 1vw;
    top: 1.3vh;
}
#down{
    display: inline-block;
    position: absolute;
    right: 1vw;
    top: 1.3vh;
}
#pngwing{
    width: 24px;
    height: 24px;
    position: absolute;
    left:3.2vw;
    top: 0.3vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 10;
        transform: translateY(0px);
    }
}

#infoData {
    text-align: center;

}

#infoWrapper{
    width: 70vw;
    display: inline-block;
    position: absolute;
    left: 15vw;
    top: 0.5vh;
    font-size: smaller;
    /*animation: fadeIn ease-in;*/
    /*animation-iteration-count: infinite;*/
    /*animation-duration: 5950ms;*/

}




