p{
    margin: 0;
}

.signupWrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
}

.MobileSignupWrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
}


.signupWrapMainLogo{
    width: 170px;
    height: 210px;
}

.signupTitle{
    margin: 20px auto 0 auto;
    text-align: center;
}

@media(min-width: 769px){
    .signupBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto 30px auto;
        width: 50vw;
    }
}

@media(max-width: 768px){
    .signupBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto 30px auto;
        width: 90vw;
    }
}


.MobileSignupBox{
    width: 80vw;
}

.signupInputName{
    margin-top: 15px;
    color: #909090;
    font-size: 17px;
}

.signupInputNameBox{
    display: flex;
    flex-direction: row;
}

.signupInputBoxWrap{
    display: flex;
    flex-direction: column;
}

.signupInputBoxWrap > div{
    display: flex;
}

.signupMailInputBox{
    display: flex;
    flex-direction: row;
}

#nameSignupInput{
    height: 30px;
}

#pwSignupInput{
    height: 30px;
}

#mailSignupInput{
}

#sameNameCheckBt{
    margin: auto 0 auto 10px;
    width: 90px;
    height: 30px;
    font-size: 15px;
}

#certifyNumInput{
    /*width: 325px;*/
    height: 30px;
}

#signupBt{
    margin-top: 30px;
    /*width: 415px;*/
    height: 35px;
    font-size: 18px;
}

#redNameTitle{
    color: #F08888;
    font-size: 12px;
    margin-left: 8px;
    margin-top: 12px;
    display: none;
}

#redPwTitle, #redPwCheckTitle{
    color: #F08888;
    font-size: 12px;
    margin-top: 5px;
}

#redNumTitle{
    color: #F08888;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

