@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.Main_logo_title_wrap{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

#MainLogo{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#MainLogo img{
    width: 140px;
    height: 65px;
}

#loginBtn{
    font-family: 'S-CoreDream-3Light';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    background-color: #F1F4FF;
    font-weight: bolder;
    cursor: pointer;
    font-size: 17px;
    color: black;
}
